body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

h1{
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}

form{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

form input{
  padding: 8px 5px;
  width: 300px;
  border: none;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  margin-right: 5px;
  color: #333;
  border-radius: 5px;
}

form button{
  padding-left: 15px;
  padding-right: 15px;
  background-color: #138065;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}